/* Reset CSS  */
* {
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}


/* Common cái dùng chung */


.clear{
    clear:both;
}
html{
    scroll-behavior: smooth;
    font-family:  Helvetica,Arial, sans-serif;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

/* .row::after{
    content: "";
    display: block;
} */

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
.mt-64{
    margin-top: 64px !important;

}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width:50%;
}

.col-third{
    width:calc(100%/3) ;
}
.col-four{
    width:calc(100%/4) ;
}
.col-full{
    width: 100%;
}




/* 
1. Vi tri
*/
.text-white{
    color: #fff !important;
}.text-content{
    text-align: center !important;
}

/* #main{

} */

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    display:flex;
    justify-content: space-between;
   
    
}
#header .logo-img-header{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8%;
}
#header .logo-img-header .logo-img{
    width: 100%;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}


#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-btn:hover{
    background-color: #f44336;

}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}


#nav{
    display: inline-block;
}

#nav , .subnav{
    list-style-type:none ;
}

#nav >li{
    display: inline-block;
}

#nav li{

    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav > li:first-child{
    display: inline-block;
}

#nav li a {
    text-decoration: none   ;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {

    color: #000;
    background-color: #ccc;
}

#nav .nav-arrow-down{
    font-size: 14px;
}


#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);


}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}



#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/band.jpg') top center / cover  no-repeat ;
   
}
#slider .text-content .logo-slider--img{
    width: 80%;
    transition: width  0.5s;
}
#slider .text-content .logo-slider--img:hover{
    cursor: pointer;
    
    width: 85%;
}


#slider .logo-slidert{
    position:absolute;
    
}


#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

#slider .text-heading{
    font-size: 24px;
    font-weight: 500;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0px 1px #000;
    
}


/* #content{


} */

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;


}

#content .section-heading{

    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;


}

#content .section-sub-heading{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-top: 15px;
    opacity: 0.6;
  
}

#content .about-text{
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-name{
  
    font-size: 15px;
}

#content .member-list{
    margin-top: 32px;
  
}


#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
    transition:0.5s ease-in-out;
}
#content .member-img:hover{
    cursor: pointer;
    width:200px;
    
}


.tour-section{
    background-color: #000;
  
  
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
   color: #757575;
    font-size: 15px;
    padding: 20px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}

.place-list{
    margin-top: 16px;
    /* margin-left: -8px;
    margin-right: -8px; */


}
.place-item{
    
    width: calc(100%/3);
    
}
.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;

}


.place-body{
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 550;

}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-description{
    margin-top: 15px;
    line-height: 1.6;
}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 18px;

}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}




/* #footer{


} */


.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container{
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100%-32px);
    animation: modalFadeIn ease 0.6s;

}

.modal-header{
    background-color: #009688; 
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px ;
}

.modal-container .modal-close{
    position: absolute;
    padding: 12px;
    color: #fff;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.modal-close:hover{
    opacity: 1;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets{
    background-color: #009688; 
    border: none;
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover{
    opacity: 0.9;
    background-color: #ccc;
}

.modal-footer{
    padding :16px;
    text-align: right;
    
    

}
.modal-footer a{
    color: #2196F3;
}
.modal.open{
    display: flex;
}

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
    font-family: inherit;
    
}

.contact-info i[class*="ti-"] {
    display: inline-block;
    margin-right: 50px;
}

.contact-form{
    font-size: 15px;

}
.contact-form .form-control{
    padding: 11px ;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.contact-form .form-submit-btn{
    font-size: 15px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    float: right;
    padding: 10px 16px;
   

}
.form-submit-btn.mt-16{
    cursor: pointer;
}
.form-submit-btn.mt-16:hover{
color: #000;
background-color: #ccc;
}

.map-section img{
    width: 100%;
    padding: 64px 0 112px;

   
}

#footer{
    padding: 64px 16px;
    text-align: center;
    
}

#footer .social{
    font-size: 24px;
}
#footer .social a{
    color: rgba(0, 0, 0,0.6);
    text-decoration: none;
}
#footer .social a:hover{
    color: rgba(0, 0, 0,0.4);


}
#footer .copyright a{
    color: rgba(0, 0, 0,0.6);
}


@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}